.reg_img
{
	height: 630px;
	margin-top: 0px;
	background-image: url("../lib/signup.jpg");
}
.box2
{
	height: 589px;
	width: 400px;
	background-color: black;
	margin: 0px auto;
	opacity: .7;
	color: white;
	padding: 20px;
}